* {
    margin: 0px;
    padding: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Audiowide");

header {
    height: 240%;
    background-color: rgb(44, 40, 40);
    color: white;font-family: "Audiowide", sans-serif;
    font-size: small;
    text-shadow: 1px 1px 2px rgb(32, 129, 5);
    padding-top: 3%;
    padding-left: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

img.logo {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
}

h1.pri {
    font-weight: 900;
    text-align: center;
    font-size: 2.5em;
}

h2.seg {
    text-align: center;
    font-weight: 800;
    padding-bottom: 2%;
    padding-top: 2%;
}

main {
    height: 232vh;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 1px 1px 1px rgba(33, 124, 33, 0.76);
    font-size: larger;
    text-align: center;
}

h3.texto {
    width: 30rem;
    margin: auto;
}

img {
    height: 200px;
    width: 200px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    margin-top: 5%;
}

body {
    background-color: chartreuse;
}
